# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\imagini+chestii\Java Projects\Pong Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
